제목 : <%= @post.title %><br>
내용 : <%= @post.content %>

<hr>

<a href='/post/index'>뒤로 가기</a>



<form action='/comment'>
    
    
  댓글 쓰기:<br>
  <input type="text" name="comment_content"><br>
  <input type='hidden' name='post_id' value=<%= @post.id %>>
  <input type="submit" name="등록">
</form>



<% @comment.each do |x| %>
    <hr>
    <%= x.content %>
    <a href='/comment/destroy/<%=x.id%>'><button type="button" class="btn btn-primary">삭제</button></a>
    
<% end %>

